.formDiv {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  width: 50%;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #436850;
  background-color: #436850;
  padding: 5%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  color: black;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  text-align: center;
  background-color: #12372a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button[type="submit"]:hover {
  background-color: #12372a;
}

h2 {
  margin-top: 20px;
}

p {
  margin-top: 10px;
}
